.label {
    position: relative;
    line-height: 20px;
    font-weight: 500;
    display: inline-block;
    min-width: 36px;
  }
  .content,
  .input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
  }
  .content {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 24px;
    flex: 1;
    font-family: var(--body-2-medium);
    font-size: var(--font-size-base);
    color: var(--grey-grey-500);
    min-width: 199px;
  }
  .input {
    align-self: stretch;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    overflow: hidden;
    padding: var(--padding-5xs) var(--padding-smi);
  }
  .input-with-label {
    gap: var(--gap-7xs);
  }
  .input-field,
  .input-field-base,
  .input-with-label {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .input-field {
    text-align: left;
    font-size: var(--body-2-medium-size);
    color: var(--grey-grey-700);
    font-family: var(--body-2-medium);
  }
  
  